{% extends "base.html" %} {% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="hero is-primary">
        <div class="hero-body">
          <p class="title">{{ result.title }} ({{ result.year }})</p>
          <p class="subtitle">by {{ result.author.fullname }}</p>
        </div>
      </div>
      <div class="hero">
        <div class="hero-body">
          <p class="subtitle">ISBN: {{ result.isbn }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
