<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <style type="text/css" media="screen">
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      #wrapper {
        flex: 1;
      }
    </style>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Add a click event on each of them
        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      });

      function removeFlashMessage(button) {
        var flashDiv = button.parentNode;

        flashDiv.remove();
      }
    </script>
  </head>
  <body>
    <div id="wrapper">
      <section class="section py-0">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
              <img src="{{ url_for('static', filename='book.png') }}">
            </a>
            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="{{ url_for('main.index') }}" class="navbar-item">About</a>
              <a href="{{ url_for('apis.doc')}}" class="navbar-item">API</a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  {% if current_user.is_anonymous %}
                  <a href="{{ url_for('auth.register') }}" class="button is-primary">
                    <strong>Sign up</strong>
                  </a>
                  <a href="{{ url_for('auth.login') }}" class="button is-light">Log in</a>
                  {% else %}
                  <a href="{{ url_for('user.profile', username=current_user.username) }}" class="button is-primary">
                    <strong>Profile</strong>
                  </a>
                  <a href="{{ url_for('auth.logout') }}" class="button is-light">Log out</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </nav>
      </section>
      <section class="section">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="notification is-{{ category }}">
              <button class="delete" onclick="removeFlashMessage(this)"></button>
                {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </section>

      <!-- Content block -->
      {% block content %}{% endblock %}
    </div>

    <section class="section">
      <footer class="footer">
        <div class="has-text-centered">
          <p>
            <strong>Bucks</strong> by Simon Antonius Lauer. The
            source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
            and available on
            <a href="https://github.com/nomisreual/books">GitHub</a>.
          </p>
        </div>
      </footer>
    </section>
  </body>
</html>
